.articles {
    @extend .container;
    margin-bottom: 30px;
    &-row {
        @include make-row();
        margin-bottom: 20px;
        //overflow: hidden;
        .article-col {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(4);
            @media (max-width: $screen-sm-max) {
                margin-bottom: 25px;
            }
            .article-picture {
                width: 100%;
                background-color: #fff;
            }
            .read-more {
                color: $secondary-color;

            }
        }
    }
}