.feature-products {
    @extend .container;
    @media (max-width: $screen-xs-max) {
        padding-left: 50px;
        padding-right: 50px;
    }
    .feature-products-row {
        @include make-row();
        //overflow: hidden;
        .product-col {
            @include make-md-column(3);
            .product-picture {
                @include size(100%, 300px);
                width: 100%;
                height: 250px;
                background-color: #fff;
            }
        }
    }
}