// Fonts

// Variables
$body-bg: #fefcf3;
$btn-primary-bg: #d1edd9;
$primary-color: #2d282b;
$secondary-color: #95928f;

// general settings
body {
    font-family: 'Bree Serif';
    background-color: $body-bg;
}
