<!-- articles.njk -->
{% block articles %}
<div class="articles">
    <h2 class="title-sub">News and resources</h1>
    <div class="articles-row">
        <div class="article-col">
            <img src="img/lion.jpeg" class="article-picture"></img>
            <h3 class="title-product">News title</h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
            <a href="#" class="read-more">Read more</a>
        </div>
        <div class="article-col">
            <img src="img/lion.jpeg" class="article-picture"></img>
            <h3 class="title-product">News title</h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
            <a href="#" class="read-more">Read more</a>
        </div>
        <div class="article-col">
            <img src="img/lion.jpeg" class="article-picture"></img>
            <h3 class="title-product">News title</h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
            <a href="#" class="read-more">Read more</a>
        </div>
    </div>
{% endblock %}