<!-- feature-products.njk -->
{% block feature_products %}
<div class="feature-products">
    <h2 class="title-sub">Feature Products</h1>
    <div class="feature-products-row">
        <div class="product-col">
            <div class="product-picture"></div>
            <h3 class="title-product">Product title<span class="product-price">14.95€</span></h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
        </div>
        <div class="product-col">
            <div class="product-picture"></div>
            <h3 class="title-product">Product title<span class="product-price">14.95€</span></h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
        </div>
        <div class="product-col">
            <div class="product-picture"></div>
            <h3 class="title-product">Product title<span class="product-price">14.95€</span></h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
        </div>
        <div class="product-col">
            <div class="product-picture"></div>
            <h3 class="title-product">Product title<span class="product-price">14.95€</span></h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
        </div>
        <div class="product-col">
            <div class="product-picture"></div>
            <h3 class="title-product">Product title<span class="product-price">14.95€</span></h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
        </div>
        <div class="product-col">
            <div class="product-picture"></div>
            <h3 class="title-product">Product title<span class="product-price">14.95€</span></h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
        </div>
        <div class="product-col">
            <div class="product-picture"></div>
            <h3 class="title-product">Product title<span class="product-price">14.95€</span></h3>
            <p class="product-description">Lorem ipsum sit dolor amet lorem ipsum sit dolor</p>
        </div>
    </div>
    <div class="btn-wrapper">
        <button class="btn-primary">Shop the range</btn>
    </div>

    
</header>
{% endblock %}