<!-- header.njk -->
{% block header %}
<header class="header-main">
    <div class="header-content">
        <h1 class="title-main">Lorem ipsum sit dolor lorem amet</h1>
    </div>
</header>
{% endblock %}