<!-- index.njk -->
{% extends "layout/layout.njk" %}

{% block content %}
{% include 'partials/header.njk' %}
{% include 'partials/feature-products.njk' %}
{% include 'partials/articles.njk' %}

{% endblock %}